<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Earned Value Management Calculator">

  <title>EVM Calculator</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
</head>

<body>
  <main id="app">
    <section class="section">
      <div class="container">
        <h1 class="title is-2">Earned Value Calculator</h1>
        <div class="columns">
          <div class="column">
            <div class="container box">
              <h2 class="title is-4">Input Data</h2>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Planned Work Hours (Person-Hour)</label>
                    <div class="control">
                      <input v-model="plannedWork" type="number" min="0" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Currency</label>
                    <div class="control">
                      <div class="control">
                        <input disabled v-model="currency" type="text" class="input">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Hours Complete (Person-Hour)</label>
                    <div class="control">
                      <input v-model="completedWork" type="number" min="0" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Hourly Cost, {{ currency }}</label>
                    <div class="control">
                      <input v-model="humanHourCost" type="number" min="0" class="input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Remaining Work-Hours (Person-Hour)</label>
                    <div class="control">
                      <input v-model="remainingWork" type="number" min="0" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Working Day Duration (Hours)</label>
                    <div class="control">
                      <input v-model="hoursPerWorkingDay" type="number" min="0" class="input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Number of Workers</label>
                    <div class="control">
                      <input v-model="workersNumber" type="number" min="1" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Decimal Places</label>
                    <div class="control">
                      <input v-model="decimalDigits" type="number" min="0" max="20" class="input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container box">
              <h1 class="title is-4">Project Indicators</h1>
              <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>BAC</strong> (Budget At Completion)</td>
                    <td>{{ currency }}{{ numberWithCommas(budgetAtCompletion.toFixed(decimalDigits)) }}</td>
                  </tr>
                  <tr>
                    <td><strong>PV</strong> (Planned Value)</td>
                    <td>{{ currency }}{{ numberWithCommas(plannedValue.toFixed(decimalDigits)) }}</td>
                  </tr>
                  <tr>
                    <td><strong>EV</strong> (Earned Value)</td>
                    <td>{{ currency }}{{ numberWithCommas(earnedValue.toFixed(decimalDigits)) }}</td>
                  </tr>
                  <tr>
                    <td><strong>AC</strong> (Actual Cost)</td>
                    <td>{{ currency }}{{ numberWithCommas(actualCost.toFixed(decimalDigits)) }}</td>
                  </tr>
                  <tr>
                    <td><strong>CV</strong> (Cost Variance)</td>
                    <td>
                      <span :class="costVariance < 0 ? 'has-text-danger' : 'has-text-success'">{{ currency }}{{ numberWithCommas(costVariance.toFixed(decimalDigits)) }}<span>
                      </td>
                  </tr>
                  <tr>
                    <td><strong>SV</strong> (Schedule Variance)</td>
                    <td>
                      <span :class="scheduleVariance < 0 ? 'has-text-danger' : 'has-text-success'">{{ currency }}{{ numberWithCommas(scheduleVariance.toFixed(decimalDigits)) }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>CPI</strong> (Cost Performance Index)</td>
                    <td>
                      <span :class="costPerformanceIndex < 1 ? 'has-text-danger' : 'has-text-success'">{{ numberWithCommas(costPerformanceIndex.toFixed(decimalDigits)) }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>SPI</strong> (Schedule Peformance Index)</td>
                    <td>
                      <span :class="schedulePerformanceIndex < 1 ? 'has-text-danger' : 'has-text-success'">{{ numberWithCommas(schedulePerformanceIndex.toFixed(decimalDigits)) }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>EAC</strong> (Estimate At Completion)</td>
                    <td>{{ currency }}{{ estimateAtCompletion.toFixed(decimalDigits) }}</td>
                  </tr>
                  <tr>
                    <td><strong>ETC</strong> (Estimate To Complete)</td>
                    <td>{{ currency }}{{ numberWithCommas(estimateToComplete.toFixed(decimalDigits)) }}</td>
                  </tr>
                  <tr>
                    <td><strong>VAC</strong> (Variance At Completion)</td>
                    <td>
                      <span :class="varianceAtCompletion < 0 ? 'has-text-danger' : 'has-text-success'">{{ currency }}{{ numberWithCommas(varianceAtCompletion.toFixed(decimalDigits)) }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="container box">
              <h2 class="title is-4">Project Progress</h2>
              <p><strong>Should Be Completed According to Plan: {{ (plannedCompletionPercentage * 100).toFixed(decimalDigits) }}%</strong></p>
              <progress class="progress is-primary" :value="plannedCompletionPercentage"
                max="1">{{ plannedCompletionPercentage }}</progress>
              <p><strong>Actually Completed: <span :class="actualCompletionPercentage < plannedCompletionPercentage ? 'has-text-danger' : 'has-text-success'">{{ (actualCompletionPercentage * 100).toFixed(decimalDigits) }}%</span></strong>
              </p>
              <progress
                :class="['progress', actualCompletionPercentage < plannedCompletionPercentage ? 'is-danger' : 'is-success']"
                :value="actualCompletionPercentage" max="1">{{ actualCompletionPercentage }}</progress>
              
              <p><strong class="has-text-success">{{ actualCompletionPercentage > plannedCompletionPercentage ? "Project Exceeding Planned Efficiency!" : "" }}</strong></p>
              <p><strong>Days Actually Worked: {{ elapsedPeriod.toFixed () }} Days</strong></p>
            </div>
          </div>
          <div class="column">
            <div class="container box">
              <h2 class="title is-4">Project Forecast</h2>
              <p><strong>Planned Project Completion Period: {{ numberWithCommas(plannedCompletionPeriod.toFixed(decimalDigits)) }} Days</strong></p>
              <p><strong>Forecasted Project Completion Period: <span :class="estimatedCompletionPeriod > plannedCompletionPeriod ? 'has-text-danger' : 'has-text-success'">{{ numberWithCommas(estimatedCompletionPeriod.toFixed(decimalDigits)) }} Days</span></strong></p>
              <p><strong>Planned Project Budget: {{ currency }}{{ numberWithCommas(budgetAtCompletion.toFixed(decimalDigits)) }}</strong></p>
              <p><strong>Forecasted Project Budget: <span :class="estimateAtCompletion > budgetAtCompletion ? 'has-text-danger' : 'has-text-success'">{{ currency }}{{ numberWithCommas(estimateAtCompletion.toFixed(decimalDigits)) }}</span></strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>